<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Information</title>
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>
    <form action="/register" method="post">
        <h1 class="heading">Student Form</h1>
        <span> <label for="name">Name:</label>
            <input type="text" name="name" id="name" placeholder="Name"></span>
        <span> <label for="email">Email:</label>
            <input type="email" name="email" id="email" placeholder="email@.com"></span>
        <span> <label for="dept">Department:</label>
            <input type="text" name="dept" id="dept" placeholder="Name"></span> 
        <span> <label for="ph">Mobile:</label>
            <input type="text" name="ph" id="ph" placeholder="987xxxxx23"></span>   
        <button type="submit">Submit</button>
    </form>
    <a href="/display">View Student Data</a> 
</body>

</html>